body {
    background-color: #f6f7f9;
}
.terms {
    width: 55%;
    margin: 5% auto;
    word-wrap: break-word;
    background-color: white;
    padding: 40px 75px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.terms h1{
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 10px;
}
.terms h3 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}
.terms p {
    font-size: 17px;
    padding-bottom: 20px;
    font-weight: 100;
}
.terms ul {
    list-style-type: circle ;
}
.terms li {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 25px;
}
@media (max-width:500px) {
    .terms {
        width: 95%;
        margin: 5% auto;
        word-wrap: break-word;
        background-color: white;
        padding: 40px 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .terms a {
          color: blue;
          text-decoration: underline;
      }
      .terms h1 {
          font-size: 25px;
          font-weight: 800;
          padding-bottom: 10px;
      }
      .terms h3 {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }
      .terms p {
          font-size: 13px;
          padding-bottom: 20px;
          font-weight: 700;
      }
      .terms ul {
          list-style-type:circle ;
      }
      .terms li {
          font-size: 10.5px;
          font-weight: 600;
          padding-bottom: 10px;
          padding-left: 15px;
      }
}
@media (max-width:320px) {
    .terms {
        width: 95%;
        margin: 5% auto;
        word-wrap: break-word;
        background-color: white;
        padding: 40px 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .terms a {
          color: blue;
          text-decoration: underline;
      }
      .terms h1 {
          font-size: 25px;
          font-weight: 800;
          padding-bottom: 10px;
      }
      .terms h3 {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
    }
      .terms p {
          font-size: 13px;
          padding-bottom: 20px;
          font-weight: 700;
      }
      .terms ul {
          list-style-type:circle ;
      }
      .terms li {
          font-size: 10.5px;
          font-weight: 600;
          padding-bottom: 10px;
          padding-left: 15px;
      }
}