body {
    background-color: #f6f7f9;
}
.privacy {
  width: 55%;
  margin: 5% auto;
  word-wrap: break-word;
  background-color: white;
  padding: 40px 75px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.privacy a {
    color: blue;
    text-decoration: underline;
}
.privacy h1 {
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 10px;
}
.privacy p {
    font-size: 17px;
    padding-bottom: 20px;
    font-weight: 100;
}
.privacy ul {
    list-style-type:circle ;
}
.privacy li {
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-left: 25px;
}
@media (max-width:320px) {
    .privacy {
        width: 95%;
        margin: 5% auto;
        word-wrap: break-word;
        background-color: white;
        padding: 40px 20px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }
      .privacy a {
          color: blue;
          text-decoration: underline;
      }
      .privacy h1 {
          font-size: 20.5px;
          font-weight: 900;
          padding-bottom: 10px;
      }
      .privacy p {
          font-size: 12px;
          padding-bottom: 20px;
          font-weight: 700;
      }
      .privacy ul {
          list-style-type:circle ;
      }
      .privacy li {
          font-size: 10.5px;
          font-weight: 600;
          padding-bottom: 10px;
          padding-left: 15px;
      }
}