.bluei:hover{
    color: #3b5998;
    transition: ease-in .5s;
}
.linkd:hover{
    color: #0e76a8;
    transition: ease-in .5s;
}
.insta:hover{
    color: #cd486b;
    transition: ease-in .5s;
}
.twit:hover{
    color: #1DA1F2;
    transition: ease-in .5s;
}
.bluei, .linkd, .insta, .twit {
    color: white;
}
.lastpage {
    width: 90%;
    margin: auto;
    padding: 2rem;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lastpage span {
    font-size: small;
    color: #AB7E5F;
    font-weight: bolder;
}
.lastpage1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.lastpage1 span:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.lastpage p {
    margin: 0 1rem;
    color: #AB7E5F;
}
/* for footer */
@media (max-width:1015px) {
    .lastpage {
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        border-top: 1px solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lastpage span {
        font-size: small;
        color: #AB7E5F;
        font-weight: bolder;
    }
    .lastpage1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .lastpage p {
        margin: 0 1rem;
        color: #AB7E5F;
    }
}
@media (max-width:899px) {
    .lastpage span {
        font-size: 12px;
        color: #AB7E5F;
        font-weight: bolder;
    } 
}
@media (max-width:800px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 80%;
        margin: auto;
    }
}
@media (max-width:760px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 100%;
        margin: auto;
    }
}
@media (max-width:750px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 95%;
        margin: auto;
    }
}
@media (max-width:680px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 125%;
        margin: auto;
    }
}
@media (max-width:622px) {
    .lastpage span {
        font-size: 8px;
        color: #AB7E5F;
        font-weight: bolder;
    } 
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 100%;
        margin: auto;
    }
}
@media (max-width:529px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 140%;
        margin: auto;
    }
} 
@media (max-width:320px){
    .lastpage {
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        border-top: 1px solid white;
        display: block;
        justify-content: space-between;
        align-items: center;
    }
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 18px;
        height: 18px;
        margin: auto;
    }
    .lastpage1 {
        text-align: center;
    }
    .lastpage3 {
        text-align: center;
    }
}