.about-container {
    color: #283C61;
    display: flex;
    width: 90%;
    margin: 8rem auto;
}
.about-image {
    width: 50%;
    background-color:#AB7E5F;
    padding-bottom: .5rem;
}
.about-text {
    width: 50%;
    padding: 0 5rem;
}
.about-text h1 {
    width: 30%;
    font-size: xx-large;
    border-bottom: 3px solid #AB7E5F;
    margin-bottom: 2rem;
}
.about-text h2 {
    font-size: large;
    font-weight: bolder;
    color: #AB7E5F;
}
.about-text p {
    font-size: 14px;
    text-align: justify;
    font-weight: 600;
}