.bod1{
    color: white;
    background-image: url(../../assets/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-color: #283C61;
    background-blend-mode: multiply;
    position: relative;
    overflow: hidden;
    opacity: 0.9;
}

.bod{
    margin: 0 auto;
    
}
.home-div{
    width: 75%;
    margin: 8rem auto 3rem;
}
.home-div h1{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin:30px auto;
    width: 80%;
}
.home-div p{
    font-size: large;
    text-align: center;
    width: 70%;
    margin: auto;
    color: whitesmoke;
}
.custom-data{
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 30px;
}
.custom-data :hover {
    background-color: #AB7E5F;
}


@media (max-width: 1908px) {
    .home-div h1{
        font-size: 70px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 50%;
        margin: auto;
    }
}

@media (max-width: 1490px){
    .home-div p{
        font-size: large;
        text-align: center;
        width: 50%;
        margin: auto;
    }
}

@media (min-width: 960px){
    .home-div h1{
        font-size: 50px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 1000px;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 94%;
        margin: auto;
    }
}
@media (min-width: 800px){
    .home-div h1{
        font-size: 41px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 850px;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 800px;
        margin: auto;
    }
}
@media (max-width: 799px){
    .home-div h1{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 600px;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 790px;
        margin: auto;
    }
}

@media (max-width: 500px){
    .home-div h1{
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 500px;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 500px;
        margin: auto;
    }
}