.bod1{
    color: white;
    background-image: url(../../assets/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-color: #283C61;
    background-blend-mode: multiply;
    position: relative;
    overflow: hidden;
    opacity: 0.9;
}

.bod{
    margin: 20rem auto 0 auto;
    
}
.home-div{
    width: 75%;
    margin: 8rem auto 3rem;
}
.home-div h1{
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin:30px auto;
    width: 80%;
}
.home-div p{
    font-size: larger;
    text-align: center;
    width: 55%;
    margin: auto;
    color: whitesmoke;
}
.custom-data{
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 30px;
}
.custom-data :hover {
    background-color: #AB7E5F;
}

@media (max-width: 1908px) {
    .home-div h1{
        font-size: 50px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 50%;
        margin: auto;
    }
}

@media (max-width: 1906px){
    .home-div h1{
        font-size: 47px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
}
@media (max-width: 1793px){
    .home-div h1{
        font-size: 44px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
}
@media (max-width: 1680px){
    .home-div h1{
        font-size: 41px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 58%;
        margin: auto;
    }
}
@media (max-width: 1566px){
    .home-div h1{
        font-size: 38px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 58%;
        margin: auto;
    }
}
@media (max-width: 1453px){
    .home-div h1{
        font-size: 36px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
}
@media (max-width: 1490px){
    .home-div p{
        font-size: large;
        text-align: center;
        width: 50%;
        margin: auto;
    }
}

@media (max-width: 1377px){
    .home-div h1{
        font-size: 34px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 70%;
        margin: auto;
    }
}
@media (max-width: 1302px){
    .home-div h1{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
    .home-div p{
        font-size: 15px;
        text-align: center;
        width: 58%;
        margin: auto;
    }
}
@media (max-width: 1150px){
    .home-div h1{
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
    .home-div p{
        font-size: 15px;
        text-align: center;
        width: 70%;
        margin: auto;
    }
}
@media (max-width: 1075px){
    .home-div h1{
        font-size: 26px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
    .home-div p{
        font-size: 15px;
        text-align: center;
        width: 70%;
        margin: auto;
    }
}
@media (max-width: 999px){
    .home-div h1{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 70%;
    }
    .home-div p{
        font-size: smaller;
        text-align: center;
        width: 70%;
        margin: auto;
    }
}
@media (max-width: 970px){
    .home-div h1{
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        margin:30px auto;
        width: 600px;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 94%;
        margin: auto;
    }
}
@media (max-width: 800px){
    .home-div h1{
        font-size: 41px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 850px;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 800px;
        margin: auto;
    }
}
@media (max-width: 799px){
    .home-div h1{
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 600px;
    }
    .home-div p{
        font-size: large;
        text-align: center;
        width: 650px;
        margin: auto;
    }
}
@media (max-width:736px) {
    .home-div p{
        font-size: large;
        text-align: center;
        width: 630px;
        margin: auto;
    }
}
@media (max-width:700px) {
    .bod1{
        color: white;
        background-image: url(../../assets/image4i.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 80vh;
        background-color: #283C61;
        background-blend-mode: multiply;
        position: relative;
        overflow: hidden;
        opacity: 0.9;
    }
    .home-div h1{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 400px;
    }
    .home-div p{
        font-size: smaller;
        text-align: center;
        width: 570px;
        margin: auto;
    }
}

@media (max-width: 650px){
    .home-div p{
        font-size: smaller;
        text-align: center;
        width: 500px;
        margin: auto;
    }

}
@media (max-width: 575px){
    .home-div p{
        font-size: 14px;
        text-align: center;
        width: 400px;
        margin: auto;
    }
}
@media (max-width: 500px){
    .home-div h1{
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin:30px auto;
        width: 400px;
    }
    .home-div p{
        font-size: 11px;
        text-align: center;
        width: 400px;
        margin: auto;
    }
    .bod1{
        color: white;
        background-image: url(../../assets/image4i.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 80vh;
        background-color: #283C61;
        background-blend-mode: multiply;
        position: relative;
        overflow: hidden;
        opacity: 0.9;
    }
}
@media (max-width:320px) {
    .home-div h1{
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        margin:30px auto;
        width: 255px;
    }
    .home-div p{
        font-size: 9px;
        text-align: center;
        width: 255px;
        margin: auto;
    }
    .bod1{
        color: white;
        background-image: url(../../assets/image4i.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 85vh;
        background-color: #283C61;
        background-blend-mode: multiply;
        position: relative;
        overflow: hidden;
        opacity: 0.9;
    }
    .custom-data{
        display: flex;
        justify-content: center;
        margin: 0;
        gap: 15px;
        font-size: x-small;
    }
}