* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/* .bg-image {
   width: 100vw;
   height: 600px;
   background: #283C61; 
   overflow: hidden;
} */
/* img {
    object-fit: cover;
    opacity: 0.4;
} */
.bod{
    margin: 0 auto;
    background-image: url(../../assets/image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    background-color: #283C61;
    background-blend-mode: multiply;
    position: relative;
    overflow: hidden;
    opacity: 0.9;
    
}
.home-div{
    width: 75%;
    margin: 8rem auto;
}
.home-div h1{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin:30px auto;
    width: 80%;
}
.home-div p{
    font-size: large;
    text-align: center;
    width: 70%;
    margin: auto;
}
.custom-data{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 30px;
}
.custom-data :hover {
    background-color: #283C61;
}