button {
    width: 100%;
    background-color: #AB7E5F;
    padding: .3rem;
}
@media (max-width:480px) {
    button{
        display: flex;
        justify-content: center;
        margin: 0;
        gap: 20px;
        padding: 10px;
        font-size: 10px;
    }
}
