.contact-container {
    color: white;
    background-image: url(../../assets/contactimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #283C61;
    background-blend-mode: multiply;
    position: relative;
    overflow: hidden;
    opacity: 0.9;
    z-index: -1;
}
.smallContc{
    width: 90%;
    margin: 2rem auto;
    top: 0;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
}
.col-2c{
    width: 60%;
    height: 100%;
    position: relative;
}
.col-2c .absc{
    top: 3%;
    left: 20%;
    width: 50%;
    position: absolute;
    color: white;
}
.absc .groupc{
    margin-top: 30px;
}
.colc .img{
    width: 4rem;
    height: 4rem;
    opacity: 1;
    margin: 0 auto;
}
.col-2c .absc h1{
    width: 50%;
    font-size: 2rem;
    text-align: center;
    border-bottom: 3px solid #AB7E5F;
    margin-top: 5rem;
}

.colc {
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10% auto 0;
}
.colc h2{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
}
#textc{
    padding: 20px 5px 0;
}
.colc > *{
    margin-top: 15px;
}

.colc p:hover{
    opacity: 0.3;
    cursor: pointer;
    transition: ease-in .5s;
}
.formc{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.formc p{
    font-size: 1rem;
    color: white;
}
.groupc{
    display: flex;
    width: 100%;
    height: auto;
}
.groupc span{
    font-size: 1.2rem;
    margin-left: 20px;
}
.groupc h1{
    margin-left: 4%;
}
.movec {
    margin-left: 12%;
}
.groupc2{
    display: flex;
    cursor: pointer;
    color: white;
}
.bluei:hover{
    color: #3b5998;
    transition: ease-in .5s;
}
.linkd:hover{
    color: #0e76a8;
    transition: ease-in .5s;
}
.insta:hover{
    color: #cd486b;
    transition: ease-in .5s;
}
.twit:hover{
    color: #1DA1F2;
    transition: ease-in .5s;
}
.bluei, .linkd, .insta, .twit {
    color: white;
}
textarea {
    background-color: transparent;
    border: 1px solid white;
}
.lastpage {
    width: 90%;
    margin: auto;
    padding: 2rem;
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lastpage span {
    font-size: small;
    color: #AB7E5F;
    font-weight: bolder;
}
.lastpage1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.lastpage1 span:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.lastpage p {
    margin: 0 1rem;
    color: #AB7E5F;
}
@media (max-width:1297px) {
    .col-2c .absc h1{
        width: 50%;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 3px solid #AB7E5F;
        margin-top: 5rem;
    }
    .movec {
        margin-left: 12%;
        font-size: 15px;
    }
    .groupc span{
        font-size: 1.1rem;
        margin-left: 20px;
    }
}
@media (max-width:1297px) {
    .col-2c .absc h1{
        width: 50%;
        font-size: 1.6rem;
        text-align: center;
        border-bottom: 3px solid #AB7E5F;
        margin-top: 5rem;
    }
    .movec {
        margin-left: 12%;
        font-size: 14px;
    }
}
@media (max-width:1137px) {
    .col-2c .absc h1{
        width: 48%;
        font-size: 1.5rem;
        text-align: center;
        border-bottom: 3px solid #AB7E5F;
        margin-top: 5rem;
    }
    .movec {
        margin-left: 12%;
        font-size: 12.5px;
    }
}
@media (max-width:922px) {
    .col-2c .absc h1{
        width: 45%;
        font-size: 1.3rem;
        text-align: center;
        border-bottom: 3px solid #AB7E5F;
        margin-top: 5rem;
    }
    .movec {
        margin-left: 12%;
        font-size: 12.5px;
    }
    .colc h2{
        text-align: center;
        font-size: 1.3rem;
        margin: 2.5rem;
    }
    .groupc span{
        font-size: 1.1rem;
        margin-left: 20px;
    } 
    .smallContc{
        width: 100%;
        margin: 2rem auto;
        top: 0;
        display: flex;
        justify-content: space-between;
        min-height: 100vh;
        overflow: hidden;
    }
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 85%;
        margin: auto;
    }
}
@media (max-width:800px) {
    .colc h2{
        text-align: center;
        font-size: 1.3rem;
        margin: 4rem 1rem 1rem 1rem;
    }
}
@media (max-width:764px) {
    .col-2c .absc h1{
        width: 45%;
        font-size: 1.2rem;
        text-align: center;
        border-bottom: 3px solid #AB7E5F;
        margin-top: 5rem;
    }
}
@media (max-width:706px) {
    .smallContc{
        width: 100%;
        margin: 2rem auto;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        overflow: hidden;
    }
    .groupc span{
        font-size: 1.1rem;
        margin-left: 20px;
    } 
    .movec {
        margin-left: 12%;
        font-size: 13.5px;
    }
    .col-2c{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .col-2c .absc{
        top: 3%;
        left: 20%;
        width: 50%;
        position: relative;
        color: white;
    }
    .absc .groupc{
        margin-top: 30px;
    }
    .col-2c .absc h1{
        width: 60%;
        font-size: 1.8rem;
        text-align: center;
        border-bottom: 3px solid #AB7E5F;
        margin-top: 5rem auto;
    }   
    .formc .colc {
        width: 100%;
        color: white;
        margin: auto 50%;
    }
    .colc h2{
        text-align: center;
        font-size: 1.4rem;
        margin: 4rem 1rem 1rem 1rem;
    }
}


@media (max-width:616px) {
    .colc h2{
        text-align: center;
        font-size: 1.1rem;
        margin: 4rem 1rem 1rem 1rem;
    }
}
@media (max-width:528px) {
    .col-2c .absc h1{
        width: 70%;
        font-size: 1.8rem;
        text-align: center;
        border-bottom: 3px solid #AB7E5F;
        margin-top: 5rem auto;
    } 
    .colc h2{
        text-align: center;
        font-size: 1rem;
        margin: 4rem 1rem 1rem 1rem;
    }
    .groupc span{
        font-size: 1.1rem;
        margin-left: 20px;
    } 
}
/* for footer */
@media (max-width:1015px) {
    .lastpage {
        width: 100%;
        margin: auto;
        padding: 1.5rem;
        border-top: 1px solid white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lastpage span {
        font-size: small;
        color: #AB7E5F;
        font-weight: bolder;
    }
    .lastpage1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .lastpage p {
        margin: 0 1rem;
        color: #AB7E5F;
    }
}
@media (max-width:899px) {
    .lastpage span {
        font-size: 12px;
        color: #AB7E5F;
        font-weight: bolder;
    } 
}
@media (max-width:800px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 80%;
        margin: auto;
    }
}
@media (max-width:760px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 100%;
        margin: auto;
    }
}
@media (max-width:750px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 95%;
        margin: auto;
    }
}
@media (max-width:680px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 125%;
        margin: auto;
    }
}
@media (max-width:622px) {
    .lastpage span {
        font-size: 8px;
        color: #AB7E5F;
        font-weight: bolder;
    } 
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 100%;
        margin: auto;
    }
}
@media (max-width:529px) {
    .bluei, .linkd, .insta, .twit {
        color: white;
        width: 140%;
        margin: auto;
    }
}
@media (max-width:320px) {
    
}