.contact-container {
    color: white;
    background-image: url(../../assets/contactimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #283C61;
    background-blend-mode: multiply;
    position: relative;
    overflow: hidden;
    opacity: 0.9;
}
.smallContc{
    width: 90%;
    margin: 2rem auto;
    top: 0;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    overflow: hidden;
    max-width: 1440px;
}
.col-2c{
    width: 45%;
    padding: 10px;
}
/* .col-2c .absc{
    top: 3%;
    left: 20%;
    width: 50%;
    position: absolute;
    color: white;
} */

.absc .groupc{
    margin-top: 30px;
}
.colc .img{
    width: 4rem;
    height: 4rem;
    opacity: 1;
    margin: 0 auto;
}
.col-2c .absc h1{
    width: 28%;
    font-size: 1.7rem;
    text-align: center;
    border-bottom: 3px solid #AB7E5F;
}

.colc {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    
}
.colc h2{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
}
#textc{
    padding: 20px 5px 0;
}
.colc > *{
    margin-top: 15px;
}

.colc p:hover{
    opacity: 0.3;
    cursor: pointer;
    transition: ease-in .5s;
}
.formc{
    display: flex;
    flex-direction: column;
    width: 45%;
}
.formc p{
    font-size: 1rem;
    color: white;
}
.groupc{
    display: flex;
    width: 100%;
    height: auto;
}
.groupc span{
    font-size: 1.2rem;
    margin-left: 20px;
}
.groupc h1{
    margin-left: 4%;
}
.movec {
    margin-left: 12%;
}
.groupc1 {
    display: none;
}
.groupc2{
    display: flex;
    cursor: pointer;
    color: white;
}

textarea {
    background-color: transparent;
    border: 1px solid white;
    width: 100%;
}


@media (max-width:922px) {
    .col-2c .absc h1{
        width: 40%;
    }
    svg.contact-icon{
        width: 20px;
    }
    .groupc span{
        font-size: 14px;
    }
    .movec{
        font-size: 14px;
    }
    .col-2c{
        width: 40%; 
    }
    .formc{
        width: 50%;
    }
}
@media (max-width:780px) {
    .col-2c .absc h1{
        width: 63%;
    }
}

@media (max-width:600px) {
    .smallContc{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-2c{
        width: 90%;
        margin: 0 auto;
    }
    .col-2c .absc h1{
        width: 38%;
        margin: auto;
        font-size: 2.1rem;
        text-align: center;
        border-bottom: 3px solid #AB7E5F;
    }
    .formc{
        width: 90%;
        margin: 0 auto;
    }

    svg.contact-icon{
        width: 30px;
    }
    .groupc span{
        font-size: 20px;
    }
    .movec{
        font-size: 16px;
    }
}
@media (max-width:530px) {
    .col-2c .absc h1{
        width: 70%;
    }
    svg.contact-icon{
        width: 27px;
    }
    .groupc span{
        font-size: 18px;
    }
    .movec{
        font-size: 12px;
    }
}

@media (max-width:320px) {
    .col-2c .absc h1{
        margin: auto;
        font-size: 1.3rem;
        text-align: center;
        border-bottom: 3px solid #AB7E5F;
    }
    .groupc span{
        font-size: .9rem;
        margin-left: 20px;
    }
    .movec{
        font-size: 9.5px;
    }
    .contact-icon {
        width: 22px;
        height: 22px;
    }
    
    .groupc2{
        display: none;
        cursor: pointer;
        color: white;
    }
    .groupc1{
        display: flex;
        cursor: pointer;
        color: white;
        width: 80%;
        margin: auto;
    }
    
}
